.orders-calendar-view {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .orders-calendar-view h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .calendar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .orders-on-date {
    margin-top: 20px;
  }
  
  .orders-on-date h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .orders-on-date ul {
    list-style-type: none;
    padding: 0;
  }
  
  .orders-on-date li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .react-calendar {
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__tile {
    color: #000;
  }
  